<!DOCTYPE html>

    <head>

        <title> Forum elegante </title>

    </head>

    <body>

        <div>
            <h1> Posts </h1>
            <div>
                
            </div>
        </div>


        <div>
            <h1> Escreve seu Post </h1>

            <div>

                <form>

                    <label> Titulo </label>
                    <input type="text">
                    
                    <label> Seu Nome </label>
                    <input type="text">
                    
                    <label> Livro </label>
                    <input type="text">
                    
                    <label> Conteudo </label>
                    <input type="text">

                </form>

            </div>

        </div>

    </body>

</html>